SPRING_PROFILES_ACTIVE=prod

SPRING_DATASOURCE_URL=jdbc:mysql://your-rds-endpoint:3306/stripe_payment?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
SPRING_DATASOURCE_USERNAME=admin
SPRING_DATASOURCE_PASSWORD=change-me

STRIPE_SECRET_KEY=sk_live_replace_me
STRIPE_WEBHOOK_SECRET=whsec_replace_me
APP_BASE_URL=https://app.bharathiecommerce.com

SPRING_DATA_REDIS_HOST=your-redis-endpoint
SPRING_DATA_REDIS_PORT=6379

APP_KAFKA_ENABLED=false
SPRING_KAFKA_BOOTSTRAP_SERVERS=localhost:9094
SPRING_KAFKA_CONSUMER_GROUP_ID=stripe-payment-group

APP_REDIS_ENABLED=true

APP_MAIL_ENABLED=false
MAIL_FROM=no-reply@bharathiecommerce.com
MAIL_HOST=
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_SMTP_AUTH=true
MAIL_SMTP_STARTTLS=true

LOG_FILE_NAME=/var/log/stripe-payment/application.log
LOG_MAX_FILE_SIZE=25MB
LOG_MAX_HISTORY=30
